<template name="introAssetItem">
    <div class="asset">        
        <img class="image" style="width:96px" src={{imageSize thumbnail ""}} >        
        <div class="asset-content">
            <h3><a href="{{pathFor 'assetTry'}}">{{title}}</a></h3>
            <p>{{shortDescription description 50}}</p>
            <h4>{{pluralize votes "Vote"}}, submitted by {{author}}, <a href="{{pathFor 'assetPage'}}">{{pluralize commentsCount "comment"}}</a></h4>
        </div>
        <!-- <a href="{{assetCommand title}}" class="try btn btn-default" role="button">Try</a> -->
        <a href="{{pathFor 'assetPage'}}" class="discuss btn" role="button" data-toggle="tooltip" data-placement="bottom" title="Discuss this asset">
            <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
        </a>
    </div>
</template>

<template name="introAssetElement">
    <h1>{{title}}</h1>
     <p>{{description}}</p>      
    <div class="info">
        <span class="glyphicon glyphicon-time" aria-hidden="true"></span>        
        <span class="badge">{{pluralize commentsCount "comment"}}</span>
    </div>
</template>