<template name="footer">
	<footer class="global-footer">
		<div class="global-content">
		<menu class="footer-menu">
			<ul>
				<!-- Product -->
				<li>
					<h4>Product</h4>
					<ul>
						<!-- <li><a href="{{pathFor 'assets'}}">Tools</a></li> -->
						<li><a href="{{pathFor 'assets'}}">Assets</a></li>
					</ul>
				</li>

				<!-- Company -->
				<li>
					<h4>Company</h4>
					<ul>
						<li><a href="{{pathFor 'intro'}}">Blog</a></li>
					</ul>
				</li>

				<!-- Learn -->
				<li>
					<h4>Learn</h4>
					<ul>
						<li><a href="{{pathFor 'projectLearn'}}">Production</a></li>
						<li><a href="{{pathFor 'toolsLearn'}}">Animation</a></li>
						<li><a href="{{pathFor 'assetLearn'}}">Assets</a></li>
					</ul>
				</li>

				<!-- Community -->
				<li>
					<h4>Community</h4>
					<ul>
						<li><a href="{{pathFor 'publicGallery'}}">Gallery</a></li>
					</ul>
				</li>			
			</ul>
		</menu>
		<section class="footer-contact">
			<h4>Contact Us</h4>
			<p>830 W 6th Avenue<br>Vancouver, BC</p>
			<p><a>animanatatwork@me.com</a></p>
		</section>
		</div>
	</footer>
</template>