<template name="header">
  <meta name="Description" content="Free online 3D animation software: editor, animation and rendering. Runs within any modern browser which supports wegGL. Build on Three.JS.">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> -->
  <nav id="movemenav" class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        
        <a class="navbar-brand" href="{{pathFor 'intro'}}">
          <img alt="Brand" class="img-rounded" src="/ui/brand_wide_small.png" style="height: 24px;">
        </a>

      </div>      
      
      <div class="collapse navbar-collapse" id="navigation">
        <ul class="nav navbar-nav">

          {{#if currentUser}}
            <li class="{{activeRouteClass 'prod'}}">
              <a href="{{pathFor 'prod'}}">Projects</a>
            </li>
          {{/if}}      
          
          <li class="{{activeRouteClass 'assets'}}">
              <a href="{{pathFor 'assets'}}">Assets</a>
          </li>

          <!-- <li class="{{activeRouteClass 'gallery'}}">
              <a href="{{pathFor 'gallery'}}">Gallery</a>
          </li> -->

          <li class="{{activeRouteClass 'learn'}}">              
               <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Learn<span class="caret"></span></a>

              <ul class="dropdown-menu" role="menu">
                <li><a href="{{pathFor 'projectLearn'}}" >Production Tools</a></li>
                <li><a href="{{pathFor 'toolsLearn'}}" >Animation Tools</a></li>
                <li><a href="{{pathFor 'assetLearn'}}">Assets</a></li>
              </ul>
          </li>

          <li class="{{activeRouteClass 'suggest'}}">
          <!-- <li class="dropdown"> -->
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Requests<span class="caret"></span></a>

            <ul class="dropdown-menu" role="menu">
              <li><a href="{{pathFor 'bestSuggest'}}">Popular Requests</a></li>
              <li><a href="{{pathFor 'newSuggest'}}">New Requests</a></li>
            </ul>

          </li> 
        </ul>

        <ul class="nav navbar-nav navbar-right">
          {{#if currentUser}}
            <li class="dropdown">
              {{> notifications}}
            </li>
          {{else}}
            <li>
              <a href="{{pathFor 'try'}}" style="color: #fff; padding-top:5px; padding-bottom:5px; margin-top: 12px; background: rgb(255, 126, 0);">Try Me</a>
            </li>
          {{/if}}

          {{> loginButtons}}
        </ul>

      </div>

    </div>
  </nav>
</template>