<template name="prodShotVersionItem">
    <div class="version" id={{getId}}>
        <img class="image" src={{youtubeImage youTubeVideoId}} style={{randomColor}}>        
        <!-- <embed class="image" src={{youtubeVideo youTubeVideoId}}> -->
        
        <div class="version-content">
            <a href="{{pathFor 'anim'}}">{{shortDescription description 50}}</a>
            <h4>{{pluralize votes "Vote"}}, submitted by {{author}}, <a>{{pluralize commentsCount "comment"}}</a>, on {{submittedText}}</h4>
        </div>
        
        <div class="version-action">
            <button class="view btn btn-default" role="button" data-toggle="tooltip" data-placement="bottom" data-delay="400" title="Open Scene File">
                <span class="glyphicon glyphicon-floppy-open" aria-hidden="true"></span>
            </button>

            <button class="delete btn btn-default" role="button" data-toggle="tooltip" data-placement="bottom" data-delay="400" title="Delete Scene File">
                <span class="glyphicon glyphicon-floppy-remove" aria-hidden="true"></span>
            </button>

            {{#if hasRender}}
                <button class="movie btn btn-default" role="button" data-toggle="tooltip" data-placement="bottom" data-delay="400" title="View Render">
                    <span class="glyphicon glyphicon-film" aria-hidden="true">
                    </span>
                </button>
            {{else}}
                <button href="{{pathFor 'render'}}" class="render btn btn-default" role="button" data-toggle="tooltip" data-delay="400" data-placement="bottom" title="Render Scene File in the Cloud">
                    <span class="glyphicon glyphicon-cloud" aria-hidden="true">
                    </span>
                </button>
            {{/if}}
        </div>
    </div>
</template>