<template name="gallery">
	{{> header}} 
	{{> errors}}

	<div class="gallery-container">
        <div class="gallery-container-content">
        	<ul class="gallery-item-list">
			{{#each shots}}
				{{> galleryItem}}
			{{/each}}
			</ul>
       	</div>
    </div>

	<!-- {{>footer}} -->
</template>

<template name="galleryItem">
	<li class="gallery-item-container">		
		<img class="anim" src={{latestVersionThumbnail}}>
		<div>
			<span>
				{{title}} by {{author}}
			</span>
		</div>
	</li>
</template>