<template name="projectEdit">
  {{> header}}

    <div class="intro-header">
        <div class="intro-header-content">
            <h1>Edit project</h1>
            <p>Any time, any where on any device. Learn, review, collaborate and share your work with the world.</p>    
        </div>
    </div>

    <div class="intro-container">
        <div class="intro-container-content min-height-small">
            <ol id="breadcrumb" class="breadcrumb">
                <li>
                    <a href="{{pathFor 'prod'}}">Projects</a>
                </li>
                <li>
                    <a href="{{pathFor 'projectPage'}}">{{title}}</a>
                </li>
                <li class="active">
                    <a>Edit</a>
                </li>
            </ol>

            <h2>Edit Project</h2>
            <form class="form-horizontal">    

            <!-- title -->
             <div class="form-group">
                <label class="col-sm-4 control-label" for="shot">Title</label>      
                <div class="col-sm-8">
                    <input name="title" id="title" type="text" class="form-control" value="{{title}}"/>        
                </div>
            </div>

            <!-- description -->
            <div class="form-group">
                <label class="col-sm-4 control-label" for="description">Description</label>
                <div class="col-sm-8">
              <textarea class="form-control" id="description" name="description" rows="10" value="{{description}}"></textarea>
                </div>
            </div>
          <hr/>
          
          <input type="submit" value="Submit changes" class="btn btn-primary submit-button"/>
          <hr/>
          <a class="delete btn btn-danger delete-button" href="#">Delete project</a>

        </form>
      </div>
    </div>
  
    <div class="outro-footer">
        <div class="outro-footer-content min-height-small">
        </div>
    </div>

  {{>footer}}

</template>