<template name='learnItem'>
    <div class="learn">        
        <img class="image" src={{tutorialImage youTubeId}} style={{randomColor}}>        
        <!-- <embed class="image" src={{youtubeVideo youTubeVideoId}}> -->
        
        <div class="learn-content">        	
        	<h2>{{title}}</h2>
            <p>{{description}}</p>
            <h4>submitted by <a>{{author}}</a> on {{submittedText}}</h4>
        </div>
        
        <div class="learn-action">
            <a href={{youtubeVideo youTubeId}} target="_blank" class="btn btn-default" role="button" data-toggle="tooltip" data-placement="bottom" data-delay="400" title="View Render">
                <span class="glyphicon glyphicon-film" aria-hidden="true">
                </span>
            </a>

        </div>
    </div>
</template>